.App {
  margin: 0 auto;
  width: 75%;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

.game {
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  position: relative;
  width: 95vh;
  height: 95vh;
  box-shadow: 0 0 12px 6px whitesmoke;
  background-color: azure;
}

.green {
  background-color: #66bb6a;
}

.red {
  background-color: #e53935;
  border: none;
}

.yellow {
  background-color: #fff176;
  border: none;
}

.blue {
  background-color: #29b6f6;
  border: none;
}

.house {
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 40%;
  padding: 7%;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20%;
}

.square {
  position: absolute;
  width: 25%;
  height: 25%;
}

.square-one {
  top: 20%;
  left: 20%;
}

.square-two {
  top: 20%;
  right: 20%;
}

.square-three {
  bottom: 20%;
  left: 20%;
}

.square-four {
  bottom: 20%;
  right: 20%;
}

.home {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20%;
  border-bottom: 20px solid #e53935;
  border-top: 20px solid #fff176;
  border-left: 20px solid #66bb6a;
  border-right: 20px solid #29b6f6;
}

.cells {
  position: absolute;
  width: 6.66%;
  height: 6.66%;
  border-collapse: collapse;
  border: 1px solid #e5e5e569;
}

.safe {
  background-color: #99999938;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.g-start {
  background-color: #66bb6a;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.y-start {
  background-color: #fff176;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.r-start {
  background-color: #e53935;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.b-start {
  background-color: #29b6f6;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.circle {
  display: block;
  border-radius: 100%;
  float: left;
  margin: 0;
}

/* DICE */

.dice {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  perspective: 400px;
}

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 8rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 8rem;
}

.even-roll {
  transition: transform 1.5s ease-out;
}

.odd-roll {
  transition: transform 1.25s ease-out;
}

.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas: "one two three" "four five six" "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}

.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}

.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}

.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}

[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}

[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}

[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}

[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}

[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}

[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}

[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}

[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}

[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}

[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}

[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}

[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}

[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}

[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}

[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}

[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}

[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}

[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

table {
  background-color: #0004;
}

thead tr:nth-of-type(1) {
  color: darkturquoise;
}

tbody tr:nth-of-type(1) {
  color: #66bb6a;
}

tbody tr:nth-of-type(2) {
  color: #fff176;
}

tbody tr:nth-of-type(3) {
  color: #29b6f6;
}

tbody tr:nth-of-type(4) {
  color: #e53935;
}

.panel-top, .panel-bottom {
  text-align: center;
  padding: 5rem 0;
}

th, td {
  font-size: 30px;
  border-collapse: collapse;
  border: 2px solid white;
  padding: 1rem;
}

.glow {
  box-shadow: 0 0 6px 4px orangered;
  cursor: pointer;
}

.glow:hover {
  box-shadow: 0 0 10px 7px orangered;
}