name: C/C++ CI

on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
#     - name: configure
#       run: ./configure
    - name: make
      run: make
     - name: make run
       run: make run
#     - name: make clean
#       run: make clean
